.list-unstyled {
  background-color: rgb(184, 233, 246);
  .btnAdd {
    background-color: #78c7f0;
  }
  .btnBack {
    background-color: #78c7f0;
  }
  .buttonDelete {
    background-color: black;
    color: white;
  }
}
