.mainError {
  color: yellow;
  background-color: black;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  padding: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: column;

  .pError {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    font-size: 2rem;
    padding: 1rem;
    font-family: 'Arimo', sans-serif;
  }
  .pNarices {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    gap: 0.5rem;
    font-family: 'Arimo', sans-serif;
  }
  .imgError {
    width: 100vw;
    height: 200px;
    object-fit: cover;
  }

  .buttonAtras {
    color: white;
    border: 2px solid white;
    background-color: black;
    margin: 1.5rem 2rem 3rem 2rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
  }
  .buttonAtras:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: absolute;
  }
  .buttonAtras:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .buttonAtras:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .buttonAtras:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  .buttonAtras.animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }

  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
