.listCharacters {
  background-color: #d4f0ff;
  text-align: center;
}
.characterPicture {
  height: 20rem;
}
.cardCharacter {
  text-decoration: none;
}

.text {
  font-family: 'Arimo', sans-serif;
  padding: 2rem;
  color: black;
}
