.listCharacters {
  background-color: rgb(184, 233, 246);
  text-align: center;
}

.cardCharacter {
  text-decoration: none;
}

.text {
  font-family: 'Arimo', sans-serif;
  padding: 2rem;
  color: black;
}
