.home {
  background-color: #d4f0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mainTitle {
    font-family: 'Arimo', sans-serif;
    padding: 2rem;
    text-align: center;
  }

  .mainImage {
    width: 100vw;
  }

  .buttonSimpson {
    margin: 1.5rem 2rem 3rem 2rem;
    width: 9.25rem;
    height: 2.775rem;
    border-radius: 25px;
    background-color: #78c7f0;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 129.5%; /* 1.45688rem */
    border: 2px solid black;
  }
  .buttonSimpson:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .buttonSimpson:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
