.filterButtons {
  display: flex;
  flex-direction: column;

  .filterPhrase {
    font-family: 'Arimo', sans-serif;
    padding: 1rem;
    text-align: center;
  }

  .buttonFilter {
    margin: 0 1rem;
    width: 7rem;
    height: 2.775rem;
    border-radius: 25px;
    background-color: #78c7f0;
    color: black;
    font-family: 'Arimo', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 129.5%; /* 1.45688rem */
    border: 2px solid black;
  }
  .buttonFilter:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .buttonFilter:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
}
